mat-card {
    width: 80%;
    height: 80%;
    align-self: center;
}



.cart_com {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

